/* ################################################################################################  */

/* ###############################   RESUME PAGE STYLING   ########################################  */

/* ################################################################################################  */

.navbar {
    background-color: #2D3E50 !important;  /* Dark blue background */
}

/* Styling for the About Page (about.qmd) */
body {
    /* background: linear-gradient(180deg, #2D3E50 0%,  20%, #8B3A32 100%); */
    background: #2D3E50;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

html, body {
    height: auto !important;
    min-height: 100vh;
    overflow-y: auto !important;
}